*.ipynb
dump.raw.txt
*.csv


.vs/


[Bb]in/
[Oo]bj/


*.user
*.suo
*.userosscache
*.sln.docstates


*.log


[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

packages/
*.nupkg
*.model
MoneyBallApp/Properties/PublishProfiles/FolderProfile.pubxml
MONEYBALLAPP 1.0.zip
